#heading{

	text-align:center;
}



#user-image{
	width:100%;
	height:100%;
}









.demo-card-wide.mdl-card {
  width: 812px;

  margin:0 auto;

  background-color: #F6F6F6;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background:'/ui/against.jpg';
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}


